body {

	font-family: 'Lora', serif;
	background-color: #525B76;

}

* {
	
	box-sizing: border-box;
}

.navButton {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
	padding: .5em;
	background-color: #333;
	border: solid #aaa;
	border-width: 0 0 1px;
}

.navButton a {
	color: #eee;
	text-decoration: none;
	padding: 0 0 0 .5em;
}

i {
 	font-size: 1em;
 	color: #eee;
 	padding: 0 1em 0 0;
 	transition: color .5s;
 }

i:hover {
 	color: #333;
 }

 #nav {
 	position: fixed;
 	top: 2em;
 	left: -72%;
 	width: 72%;
 	margin: 0;
 	height: 100%;
 	background-color: #333;
 	background-color: rgba(0,0,0,.84);
 	transition: left .5s;
}

#nav:target {
	left: 0;
}

nav {
	z-index: 1000;
}

nav ul {
	margin: 0;
	padding: 0;
	margin-top: .5em;
}
nav li {
	list-style: none;
	margin: 0;
	padding: 0;	
}

nav li a {
	color: #eee;
	text-decoration: none;
	display: block;
	padding: .5em 1em;
	transition: all .5s;
}

nav li a:hover {
	color: #eee;
	text-decoration: none;
	background-color: #eee;
	color: #333;
}

/* produces a blank line in mobile nav, but is
hidden when on wider screens. */
.hiddenLink {
	display: block;
}

@media only screen and (min-width: 30em) {
	.navButton {
		display: none;
	}

	#nav {
	 	margin: 0;
	 	width: 100%;
	 	height: auto;
	 	background-color: #333;
	 	background-color: rgba(0,0,0,.84);
	 	position: static;
	}

	nav {
		margin: 0;
	}

	nav ul {
		text-align: center;
		margin: 0;
	}

	nav li {
		display: inline;
	}

	nav li a {
		display: inline-block;
		padding: .5em 1em;
	}

	.hiddenLink {
		display: none;
	}

}


@media screen and (min-width: 64em) {}

.hero {
	padding-top: 3em;
	text-align: center;
	background-color: #B0D0D3;
	padding-bottom: 1em;
}
.hero h1 {
	font-weight: 400;
	color: #F6F7EB;
}
mark.blue {
color: #5BC0BE;
background: none;
}
.nowshowing {
	text-align: center;

}

.nowshowing h2 {

	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 14pt;
	font-style: italic;	
	color: #F6F7EB;
}
.nowshowing h3 {

	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 10pt;
	color: #F6F7EB;


}
p {
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	font-family: 'Lato', sans-serif;
	color: #F6F7EB;
}
h2 {
	text-align: center;

	padding-top: 1em;
	color: #F6F7EB;
}
.trailer {
	margin: .8em;
	margin-bottom: 3em;

}
.googlemap {
	text-align: center;
	margin-bottom: 2em;
}

footer p {
	color: white;
}

footer {
	background-color: black;
	margin-bottom: -3em;
	padding-bottom: 1em;
	padding-top: 1em;
}

