body {

	font-family: 'Lora', serif;
	background-color: #525B76;

}

* {
	
	box-sizing: border-box;
}

.navButton {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
	padding: .5em;
	background-color: #333;
	border: solid #aaa;
	border-width: 0 0 1px;
}

.navButton a {
	color: #eee;
	text-decoration: none;
	padding: 0 0 0 .5em;
}

i {
 	font-size: 1em;
 	color: #eee;
 	padding: 0 1em 0 0;
 	transition: color .5s;
 }

i:hover {
 	color: #333;
 }

 #nav {
 	position: fixed;
 	top: 2em;
 	left: -72%;
 	width: 72%;
 	margin: 0;
 	height: 100%;
 	background-color: #333;
 	background-color: rgba(0,0,0,.84);
 	transition: left .5s;
}

#nav:target {
	left: 0;
}

nav {
	z-index: 1000;
}

nav ul {
	margin: 0;
	padding: 0;
	margin-top: .5em;
}
nav li {
	list-style: none;
	margin: 0;
	padding: 0;	
}

nav li a {
	color: #eee;
	text-decoration: none;
	display: block;
	padding: .5em 1em;
	transition: all .5s;
}

nav li a:hover {
	color: #eee;
	text-decoration: none;
	background-color: #eee;
	color: #333;
}

/* produces a blank line in mobile nav, but is
hidden when on wider screens. */
.hiddenLink {
	display: block;
}

@media only screen and (min-width: 30em) {
	.navButton {
		display: none;
	}

	#nav {
	 	margin: 0;
	 	width: 100%;
	 	height: auto;
	 	background-color: #333;
	 	background-color: rgba(0,0,0,.84);
	 	position: static;
	}

	nav {
		margin: 0;
	}

	nav ul {
		text-align: center;
		margin: 0;
	}

	nav li {
		display: inline;
	}

	nav li a {
		display: inline-block;
		padding: .5em 1em;
	}

	.hiddenLink {
		display: none;
	}

}


.hero {
	padding-top: 3em;
	text-align: center;
	background-color: #22223B;
	padding-bottom: 1em;
}
.hero h1 {
	font-weight: 400;
	color: #F6F7EB;
}
mark.blue {
color: #B0D0D3;
background: none;
}
.nowshowing {
	text-align: center;

}
.nowshowing img {
	border: 2px solid #F6F7EB;
}
.nowshowing h2 {

	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 14pt;
	font-style: italic;	
	color: #F6F7EB;
}
.nowshowing h3 {

	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 10pt;
	color: #B0D0D3;


}
p {
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	font-family: 'Lato', sans-serif;
	color: #F6F7EB;
}
h2 {
	text-align: center;

	padding-top: 1em;
	color: #F6F7EB;
}

.trailer {
	margin: .8em;
	margin-bottom: 3em;
	overflow: hidden;
}
.googlemap {
	text-align: center;
	margin-bottom: 0em;
	overflow: hidden;
}
/*/ HOME PAGE /*/

.trailer2 {
	margin: .8em;
	margin-bottom: 1em;
}
.hheader h2 {
	font-family: 'Lato' sans-serif;

}

.homeheader h2 {
	font-family: "Lato" sans-serif;
	text-align: center;
}


/*/ COMING ATTRACTIONS /*/
.comingattractions img {
	max-width: 90%;
	max-height: 90%;
	margin: .1em;
	overflow: hidden;
	border: 2px solid #F6F7EB;

}
.comingattractions {
	text-align: center;
	overflow: hidden;
}
.caheader h2{
	font-family: "Lato", sans-serif;
	font-style: italic;
	margin-top: -.3em;
	color: #F6F7EB;

}
.comingattractions h3 {
	color: #F6F7EB;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	padding-bottom: 2em;
}
/*/ FEATURED FILMS /*/
.featuredfilms img {
	max-width: 90%;
	max-height: 90%;
	margin: .1em;
	overflow: hidden;
	border: 2px solid #F6F7EB;
}
.featuredfilms {
	text-align: center;
	overflow: hidden;
}
.ffheader h2 {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	margin-top: -.3em;
	color: #F6F7EB;
}
.featuredfilms h3 {
	color: #F6F7EB;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	padding-bottom: 2em;
}
footer p {
	color: #F6F7EB;
}

footer {
	background-color: #22223B;
	margin-bottom: -3em;
	padding-bottom: .7em;
	padding-top: 1em;

}
@media screen and (min-width: 64em) {
	.words {
		padding-top: 2em;
	}
	.lleft {
		float: left;
		width: 45%;
		
	}
	.rright {
		float: right;
		width: 45%;
		padding-top: 2.5em;
		
	}
	.trailer {
		padding-left: 6em;
	}
	.comingattractions img {
		width: 450px;
		height: 600px;
	}
	.featuredfilms img {
		width: 450px;
		height: 600px;
	}
	.one-half {
		float: left;
		width: 45%; 
	}
	.one-half2 {
		float: right;
		width: 45%;
	}
	.hero h1{
		margin-top: -.3em;
	}
	.caheader h2 {
		padding-bottom: 1.5em;
		padding-top: 1.5em;
	}
	.ffheader h2 {
		padding-bottom: 1.5em;
		padding-top: 1.5em;
	}
	.home {
		text-align: center;
		padding-top: 1em;
	}
	.home img {
		border: 1.5px solid #F6F7EB;
	}
	.trailer2 {
		text-align: center;

	}
	.footerr {
		padding-top: 25em;
	}
}

